@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poetsen+One&display=swap');

// FONTS
$dmSans: "DM Sans", sans-serif;

$testError20: rgba(222, 53, 11, 0.2);
$testError: #de350b;
$testOrange20: rgba(255, 153, 31, 0.2);
$testOrange: #ff991f;
$testGray5: rgba(143, 146, 161, 0.05);
$testGray20: rgba(143, 146, 161, 0.2);
$testGray: #8f92a1;
$testBlue10: rgba(0, 82, 204, 0.1);
$testBlue20: rgba(0, 82, 204, 0.2);
$testBlue: #0052cc;
$testGreen20: rgba(0, 135, 90, 0.2);
$testGreen: #00875a;
$testBlack: #171717;